################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Authentication/.vs/Authentication
/Authentication/Authentication/bin
/Authentication/Authentication/obj
/Gescar.Sistema.Web/.vs/Gescar.Sistema.Web
/Gescar.Sistema.Web/Gescar.Sistema.Web/bin
/Gescar.Sistema.Web/Gescar.Sistema.Web/obj
/.vs/Authentication
/Authentication/bin
/Authentication/obj
*.user
/Authentication.Business/bin/Debug/net6.0
/Authentication.Business/obj
/Authentication.Domain/bin/Debug/net6.0
/Authentication.Domain/obj
/Authentication.Web/bin/Debug/net6.0
/Authentication.Web/obj
